
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
}

.pixel{
    height: 50px;
    width: 50px;
    background: white;
}

.pixel.active{
    background-color: black;
}